<div>
  <div>
    <h2><%= process.display_name %></h2>
    <h3 id="process_state_<%= process.name %>"><%= process.state %></h3>
  </div>
  <div class="controls">
    <button class="control start" onclick="postData('/processes/start?name=<%= process.name %>');update_processes()"></button>
    <button class="control restart" onclick="postData('/processes/restart?name=<%= process.name %>');update_processes()"></button>
    <button class="control stop" onclick="postData('/processes/stop?name=<%= process.name %>');update_processes()"></button>
  </div>
</div>
