<!DOCTYPE html>
<html>

<head>

  <head>
    <title>DRNC Panel</title>

    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="assets/styles/panel/processes.css">
    <link rel="stylesheet" href="assets/styles/panel/server.css">
    <link rel="stylesheet" href="assets/styles/panel/footer.css">

    <!-- Scripts -->
    <script src="assets/scripts/refresh.js"></script>

    <!-- Favicon Stuffs -->

  </head>

<body>
  <main>
    <div id="panel">
      <div class="box processes">
        <% processes.forEach(function(process) { %>
        <%- include('../partials/process', {process:process}); %>
        <% }); %>
      </div>
      <div class="box server">
        <div class="top">
          <h2><%= server.display_name %></h2>
          <div class="controls">
            <button class="control start" onclick="postData('/server/start');"></button>
            <button class="control restart" onclick="postData('/server/restart');"></button>
            <button class="control stop" onclick="postData('/server/command?command=stop').then(update_log());"></button>
          </div>
        </div>
        <div class="console">
          <div class="log" id="log_div">
            <p id="log">
            </p>
          </div>
          <div class="command_input">
            <input id="command" type="text" name="command" onkeyup="return (this.value=this.value.toLowerCase());" placeholder="Press enter to send...">
          </div>
          <script>
            document.getElementById("command")
              .addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                  postData(`/server/command?command=${document.getElementById("command").value}`)
                    .then(document.getElementById("command").value = "")
                    .then(update_log());
                }
              });
          </script>
        </div>
      </div>
    </div>
    <div id="footer">
      <a class="logout" href="/logout">Logout</a>
    <div class="system">
      <p id="system_information"> CPU: <%= Math.round(cpu_usage * 10) / 10 %>% • MEMORY: <%= `${Math.round(mem_usage.usedMemMb / 100) / 10}/${Math.round(mem_usage.totalMemMb / 100) / 10} GB` %>
        <% if (temp.main) { %>
           • <%= temp.main %> C°
        <% }; %>
      </p>
      <div class="controls">
        <button class="control restart" onclick="system('restart')"></button>
        <button class="control stop" onclick="system('shutdown')"></button>
      </div>
    </div>
    </div>
  </main>
  <script>

    function system(action) {
      const should = confirm(`Are you sure you want to ${action} the system? This is a dangerous action!`)
      if (should) {
        postData('/system/' + action)
      }
    }
  </script>
</body>

</html>
